{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="mb-3 text-center">Creer un compte</h1>
	<div class="container text-dark w-50">
	    <div class="row mb-3">
    {# {{ form_errors(registrationForm) }} #}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.prenom) }}

        {{ form_row(registrationForm.nom) }}

        {{ form_row(registrationForm.email) }}
        
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.adresse) }}

        {{ form_row(registrationForm.postalcode) }}

        {{ form_row(registrationForm.ville) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-success mb-5">Register</button>

        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}


