{% extends 'base.html.twig' %}

{% block title %}Montres pour femme!{% endblock %}

{% block body %}

<div class="container my-4">
    <h1 class="mt-3 mb-4">Montres pour femme</h1>
    <div class="row">
     

    {% for produit in produits %}
<div class="col-12 col-md-6 col-xl-3 mb-3">
                <div class="card mb-4">
                    <img src="{{ asset(produit.image) }}" alt="{{ produit.name }}" class="card-img-top"> 
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.name }}</h5>
                        <p class="card-text">{{ produit.description }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="{{path('app_ajouter_panier', {'produitId': produit.id}) }}" class="btn btn-success"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            <span class="h5 mt-auto">{{ produit.price }} €</span>
                            {% if produit.stock > 1 %}
                             <p>disponible</p> 
                            {% else %}
                            <p>Pas disponible</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>      

  
{% endblock %}
