{% extends 'base.html.twig' %}

{% block title %}
	<title>Catégorie</title>
{% endblock %}

{% block body %}
		<form class="container w-50 mt-4 mb-5">
			<div class="row">
				<h1>Vues des categories</h1>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Catégories</th>
							<th scope="col">Modification</th>
							<th scope="col">Suppression</th>
						</tr>
					</thead>
					<tbody>
						{% for categorie in categories %}
							<tr>
								<th scope="row">{{ categorie.id }}</th>
								<td>{{ categorie.categorie }}</td>
								<td>
									<a class="btn btn-primary" href="{{ path('app_categorie_modif', {'id': categorie.id }) }}" role="button"><i class="fa fa-pen" aria-hidden="true"></i></a>
								</td>
								<td>
									<a class="btn btn-danger" href="{{ path('app_delete_categorie', {'id': categorie.id }) }}?token={{ csrf_token('supprimer') }}" role="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	{% endblock %}